body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 30px;
}

header {
  background-color: #ece8cb;
  padding: 5px;
}

nav {
  background-color: #baf09d;
  padding: 10px;
}

main {
  background-color: #e2f3d8;
  font-size: 18px;
  padding: 12px;
}

footer {
  background-color: #d9d9d9;
  padding: 15px;
}

li {
  display: inline-block;
  width: fit-content;
  padding: 10px;
}

h1 {
  color: #4a1d77;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 38px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

p {
  color: #050000;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}